* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background-color: #212121;
	position: relative;
}

.body-wrapper {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	background-color: #212121;
	min-height: 100vh;
	width: 75%;
}

header {
	height: 100vh;
	padding: 0;
	margin: 0;
}

.logo-wrapper {
	position: relative;
	height: 100%;
	width: 40%;
	float: left;
}

.logo {
	position: absolute;
	background-image: url("img/kanzu.png");
	background-size: 25vw;
	height: 25vw;
	width: 25vw;
	border-radius: 12%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 8px solid #353535;
	animation: fade-left 0.8s ease-in;
}

.head-title-wrapper {
	height: 100%;
	width: 60%;
	float: right;
	position: relative;
	animation: fade-right 0.8s ease-in;
}

.text-area-wrapper {
	text-align: left;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

.main-title {
	color: white;
	font-family: 'Work Sans', 'sans-serif';
	font-size: 4vw;
	position: static;
	text-shadow: 4px 4px 0px black;
}

.sub-title {
	color: gray;
	font-family: 'Roboto', 'sans-serif';
	font-size: 1.5vw;
	position: static;
	text-shadow: 1px 1px 0px black;
}

.block {
	height: 10000px;
	width: 100%;
}

@keyframes fade-right {
	from {
		opacity: 0%;
		transform: translate(3vw);}
	to {
		opacity: 100%;
		transform: translate(0vw);}
}

@keyframes fade-left {
	from {
		opacity: 0%;
		transform: translate(-3vw);}
	to {
		opacity: 100%;
		transform: translate(0vw)%;}
}