@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
/* Major Mono Display */

* {
	padding: 0;
	margin: 0;
}

body {
	text-align: center;
	background-color: #181A1B;
	position: relative;
}

.body-wrapper {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	min-height: 100vh;
	width: 80%;
}

/* HEADER BEGIN */

header {
	height: 100vh;
	padding: 0;
	margin: 0;
}

.logo-wrapper {
	position: relative;
	height: 100%;
	width: 40%;
	float: left;
	overflow: hidden;
}

.logo {
	background-image: url("img/kanzu.png");
	background-size: 25vw;
	height: 25vw;
	width: 25vw;
	border-radius: 12%;
	animation: logo-appear 2.5s ease 0.5s forwards;
	transform: translate(120%, 0);
}

.head-title-wrapper {
	height: 100%;
	width: 60%;
	float: right;
	position: relative;
	overflow: hidden;
}

.main-title {
	width: 100%;
	text-align: center;
	white-space: nowrap;
	font-family: 'Montserrat', sans-serif;
	font-size: 5vw;
	color: transparent;
	background: linear-gradient(132deg, rgba(255, 0, 159, 1) 0%, rgba(255, 179, 0, 1) 50%, rgba(0, 254, 255, 1) 100%);
	background-size: 200%;
	background-position: 0% 50%;
	background-clip: text;
	-webkit-background-clip: text;
	animation:
		text-appear 2.5s ease 0.5s forwards,
		color 10s linear 3s alternate infinite;
	transform: translate(-100%, 0);
	user-select: none;
}

.anim-wrapper {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	display: inline;
	overflow: hidden;
}

@keyframes text-appear {
	from {
		transform: translate(-100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes logo-appear {
	from {
		transform: translate(100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes color {
	from {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	to {
		background-position: 0% 50%;
	}
}

/* HEADER END */

/* PROJECTS BEGIN */

.title {
	text-align: center;
	white-space: nowrap;
	font-family: "Major Mono Display", sans-serif;
	padding: 3vh 0 5vh 0;
	font-size: 8vh;
	color: #D2CEC8;
}

.projects-block {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 2.5vh;
}

.border-wrapper {
	background: linear-gradient(132deg, rgba(255, 0, 159, 1) 0%, rgba(255, 179, 0, 1) 50%, rgba(0, 254, 255, 1) 100%);
	background-size: 200%;
	background-position: 0% 50%;
	border-radius: 0.5vw;
	transform: scale(1);
	transition: transform ease 0.2s;
	text-decoration: none;
}

.border-wrapper>div {
	background-color: #1D1F20;
	min-height: 25vh;
	margin: 0.3vh;
	border-radius: inherit;
	padding: 3vh;
}

.border-wrapper:hover {
	transform: scale(1.05);
	transition: transform ease 0.4s;
	animation: color 5s linear 0s infinite alternate;
}

.project-name {
	font-family: "Major Mono Display", monospace;
	text-align: center;
	color: #D2CEC8;
	font-size: 6vh;
	padding-bottom: 30px;
}

.project-description {
	font-family: "Major Mono Display", monospace;
	text-align: center;
	color: #D2CEC8;
	font-size: 3.5vh;
	font-weight: bold;
}

.project-img {
	background-origin: content-box;
	background-position: center;
	min-height: 50vh;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 1vw;
}

footer {
	font-family: "Major Mono Display", monospace;
	color: #D2CEC8;
	font-size: 3vh;
	padding: 10vh;
}