* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}
nav {
	position: absolute;
	background-color: #303030;
	height: 100px;
	width: 100%;
}

#logo {
	position: relative;
	font-family: Consolas;
	color: white;
	font-size: 2.5em;
	margin-left: 40px;
	line-height: 100px;
	display: inline-block;
}

#nav {
	position: relative;
	float: right;
	display: inline-block;
	margin-right: 40px;
}

.item {
	color: white;
	display: inline-block;
	padding: 0 20px 0 20px;
	font-size: 1.2em;
	font-family: Consolas;
	font-weight: bold;
	line-height: 100px
}

#nav:hover {
	cursor: pointer;
}
.selected {
	color: #2ECC71;
}

header {
	position: relative;
	top: 100px;
	height: 100%;
	background-image: url(img/banner.jpg);
	background-position: center;
	background-size: cover;
}
#wrapper > h1 {
	padding-top: 120px;
	font-weight: normal;
	font-size: 60px;
	text-align: center;
	font-family: Consolas;
	color: white;
}
#wrapper > .head-text {
	padding: 45px;
	font-weight: lighter;
	font-size: 26px;
	text-align: center;
	font-family: Consolas;
	color: white;
}

#wrapper {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	width: 1000px;
}

.button {
	position: absolute;
	right: 0;
	left: 0;
	margin: auto;
	margin-top: 50px;
	display: inline-block;
	height: 90px;
	width: 300px;
	background-color: #6fac1b;
	color: white;
	font-family: Consolas;
	text-align: center;
	line-height: 90px;
	font-size: 30px;
}

#content-wrapper {
	background-color: white;
	display: block;
	width: 100%;
	position: relative;
	top: 100px;
	margin-bottom: 50px;
}

.content {
	width: 50%;
	font-family: Consolas;
	text-align: center;
	color: black;
	font-size: 100px;
}

.right {
	float: right;
}

.left {
	float: left;
}

.content-line {
	width: 100%;
	display: inline-block;
}

#content-wrapper > h1 {
	padding-top: 80px;
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	font-family: Consolas;
	color: #4f4f4f;
}

#content-wrapper > h2 {
	padding: 10px 0 40px 0;
	font-weight: normal;
	font-size: 25px;
	text-align: center;
	font-family: Consolas;
	color: #4f4f4f;
}

h2 {
	padding: 20px 0 20px 0;
	font-size: 35px;
	text-align: center;
	font-family: Consolas;
	color: black;
}

.p-content {
	text-align: center;
	font-family: Consolas;
	color: #4f4f4f;
	font-weight: normal;
	font-size: 20px;
	padding: 0 40px 30px 40px;
}

footer {
	position: relative;
	top: 100px;
	height: 100px;
	color: white;
	font-family: Consolas;
	font-size: 20px;
	text-align: center;
	padding-top: 10px;
	background-color: #303030;
}