* {
	padding: 0;
	margin: 0;
}

body {
	background-color: white;
}

.wrapper {
	position: absolute;
	top: 15%;
	right: 0;
	left: 0;
	margin: auto;
}

.timer {
	text-align: center;
	font-family: monospace;
	font-size: 10vw;
}

.controls {
	text-align: center;
	padding-top: 70px;
}
.button {
	display: inline-block;
	background-color: #e8e8e8;
	width: 250px;
	height: 75px;
	border-radius: 100px;
	text-align: center;
	font-family: monospace;
	font-size: 40px;
	line-height: 75px;
	user-select: none;
}